@mainColor: #fff;
@brand-primary-opec: rgba(0, 85, 137, .5); /* transparent dark blue */
@brand-secondary: #00c0f7; /* light blue */
@brand-contrast: #8bff00; /* bright green */
@brand-dark: #dfdfdf; /* dark gray */
@brand-light: #f7f7f7; /* light gray */

@grey-outline: #dddddd;


@font-family-sans-serif: 'open-sans', Helvetica, Arial, sans-serif;
@font-family-base: @font-family-sans-serif;
@header-font: 'UniversLTW01-59UltraCn', sans-serif;
