.settings/org.eclipse*
*.DS_Store
target
bin
out
.idea*
*.ipr
*.iml
*.iws
*.log
shepherd_derby_database
/mvnCleanInstallOutput
/output.txt
/outputPackage.txt
src/main/webapp/encounters/*20*
/log
/changed
/changedfiles.txt
/buildExam.txt
/shepherd_sqllite_database
/buildOut.txt
/src/main/shepherd_data_dir
src/main/caribwhale_data_dir
/webapps
/src/main/webapp/javascript/git-info.json
