<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Paths on live server are relative to Tomcat "bin" folder -->

  <!-- Logging pattern for text logs -->
  <property name="textPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p]: %m%n"/>
  <!-- Logging pattern for HTML logs -->
  <property name="htmlPattern" value="%date%thread%mdc%level%logger%msg"/>

  <appender name="GENERICLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>/data/wildbook_data_dir/logs/activity.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/data/wildbook_data_dir/logs/%d{yyyy-MM-}activity.log.gz</fileNamePattern>
      <maxHistory>6</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${textPattern}</pattern>
    </encoder>
  </appender>

  <appender name="SUBMISSIONFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/data/wildbook_data_dir/logs/encounter-submission.htm</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/data/wildbook_data_dir/logs/%d{yyyy-MM-}encounter-submission.htm</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <!-- Assigned PatternLayoutEncoder by default -->
      <layout class="ch.qos.logback.classic.html.HTMLLayout">
        <pattern>${htmlPattern}</pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="ENCOUNTERDELETEFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/data/wildbook_data_dir/logs/encounter-delete.htm</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/data/wildbook_data_dir/logs/%d{yyyy-MM-}encounter-delete.htm</fileNamePattern>
      </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <!-- Assigned PatternLayoutEncoder by default -->
      <layout class="ch.qos.logback.classic.html.HTMLLayout">
        <pattern>${htmlPattern}</pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="USERFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/data/wildbook_data_dir/logs/user-access.htm</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/data/wildbook_data_dir/logs/%d{yyyy-MM-}user-access.htm</fileNamePattern>
      </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <!-- Assigned PatternLayoutEncoder by default -->
      <layout class="ch.qos.logback.classic.html.HTMLLayout">
        <pattern>${htmlPattern}</pattern>
      </layout>
    </encoder>
  </appender>


  <root level="OFF"/>

  <logger name="org.ecocean" level="INFO">
    <appender-ref ref="GENERICLOG"/>
  </logger>
  <logger name="org.apache.jsp" level="INFO">
    <appender-ref ref="GENERICLOG"/>
    <appender-ref ref="MULTIPLEX"/>
  </logger>

  <logger name="org.ecocean.servlet.EncounterForm" level="INFO">
    <appender-ref ref="SUBMISSIONFILE"/>
  </logger>

  <logger name="org.ecocean.servlet.EncounterDelete" level="INFO">
    <appender-ref ref="ENCOUNTERDELETEFILE"/>
  </logger>

  <logger name="org.apache.jsp.welcome_jsp" level="INFO">
    <appender-ref ref="USERFILE"/>
  </logger>

  <logger name="org.apache.jsp.logout_jsp" level="INFO">
    <appender-ref ref="USERFILE"/>
  </logger>

</configuration>
