<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Paths on live server are relative to Tomcat "bin" folder -->

  <!-- Logging pattern for text logs -->
  <property name="textPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p]: %m%n"/>
  <!-- Logging pattern for HTML logs -->
  <property name="htmlPattern" value="%date%thread%mdc%level%logger%msg"/>

  <appender name="GENERICLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>/var/log/tomcat8/general.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/var/log/tomcat8/%d{yyyy-MM-}general.log.gz</fileNamePattern>
      <maxHistory>6</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${textPattern}</pattern>
    </encoder>
  </appender>

  <appender name="DEBUGLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>/var/log/tomcat8/debug.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/var/log/tomcat8/%d{yyyy-MM-}debug.log.gz</fileNamePattern>
      <maxHistory>6</maxHistory>
    </rollingPolicy>
    <encoder>
  <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}%n%m%n</pattern>
    </encoder>
  </appender>

  <root level="OFF"/>

	<logger name="org.ecocean" level="INFO">
		<appender-ref ref="GENERICLOG"/>
	</logger>
	<logger name="org.ecocean" level="DEBUG">
		<appender-ref ref="DEBUGLOG"/>
	</logger>


<!--
  <logger name="org.apache.jsp" level="INFO">
    <appender-ref ref="GENERICLOG"/>
    <appender-ref ref="MULTIPLEX"/>
  </logger>
-->

<!--
  <logger name="org.ecocean.servlet.EncounterForm" level="INFO">
    <appender-ref ref="SUBMISSIONFILE"/>
  </logger>

  <logger name="org.ecocean.servlet.EncounterDelete" level="INFO">
    <appender-ref ref="ENCOUNTERDELETEFILE"/>
  </logger>
-->

</configuration>
