/* Standard Theme CSS */
	/* ********* ********* ********* ********* ********* 
BODY STYLES
Here we add styles for the BODY background and padding
and we can define styles for the hyperlinks
to make sure there are visible
*/
body {
	background-color: #ffffff;
	padding: 10px;
}

A:link {
	color: #000000;
}

A:visited {
	color: #000000;
}

A:hover {
	color: #000000;
}

A:active {
	color: #000000;
}

/* ********* ********* ********* ********* ********* 
These styles supply the global styles for the
calendar container, the headers, the Prev and Next
month selectors, the individual weekdays, the date
number and finally individual events
*/
.scCalendar {
	
}

.scHeader {
	font: bold 10pt verdana;
	color: #000000;
	padding: 5px;
}

.scFilter {
	font: bold 10pt verdana;
	color: #000000;
	padding: 5px;
}

.scSelector {
	font: bold 14pt verdana;
}

.scWeekNumber {
	font: bold 10pt verdana;
	color: #000000;
	padding: 5px;
}

.scWeekday {
	font: 8pt verdana;
	height: 100%;
	border: 1px solid #000000;
	overflow: hidden;
}

.scEvent {
	padding: 2px;
}

.scPopup {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 500px; height 500px;
	border: 5px solid #336699;
	background-color: #336699;
	color: #ffffff;
	text-align: right;
	display: none;
}

.scToday {
	font: bold 9pt verdana;
}

.scText {
	display: none;
}

/* ********* ********* ********* ********* ********* 
WEEKDAY STYLES
These classes handle the style for an entire date
based on Past, Present or Future
NOTE: These values will be overridden by identical style elements in scWeekday
*/
.scDateDead {
	background-color: #ffffff;
	color: #000000;
}

.scDatePast {
	background-color: #ffffff;
	color: #000000;
}

.scDateCurrent {
	background-color: #ffffff;
	color: #000000;
}

.scDateFuture {
	background-color: #ffffff;
	color: #000000;
}

/* ********* ********* ********* ********* ********* 
EVENT STYLES
These classes handle the Background and Foreground
colors for individual events
NOTE: These values will be overridden by identical style elements in scEvent
*/
.scEventRed {
	background-color: #ffffff;
	color: #000000;
}

.scEventYellow {
	background-color: #ffffff;
	color: #000000;
}

.scEventOrange {
	background-color: #ffffff;
	color: #000000;
}

.scEventGreen {
	background-color: #ffffff;
	color: #000000;
}

.scEventBlue {
	background-color: #ffffff;
	color: #000000;
}

.scEventPurple {
	background-color: #ffffff;
	color: #000000;
}

.scEventBlack {
	background-color: #ffffff;
	color: #000000;
}

/* ********* ********* ********* ********* ********* 
DATE NUMBER STYLE
This class applies to the date number in a cell
*/
.scNumber {
	font: bold 9pt verdana;
	color: #000000;
}

/* ********* ********* ********* ********* ********* 
HANDLER STYLE
These classes are used by the scHandlr.js
*/
.sconMouseOver {
	
}