version: '3.8'

services:
  db:
    image: postgres:13.4
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 60
    labels:
      - autoheal=true
    user: postgres
    volumes:
      - db-pgdata-var:/var/lib/postgresql/data
      - .dockerfiles/db/initdb.d/:/docker-entrypoint-initdb.d/
    networks:
      - intranet
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      WBIA_DB_NAME: "${WBIA_DB_NAME}"
      WBIA_DB_USER: "${WBIA_DB_USER}"
      WBIA_DB_PASSWORD: "${WBIA_DB_PASSWORD}"
      WILDBOOK_DB_NAME: "${WILDBOOK_DB_NAME}"
      WILDBOOK_DB_USER: "${WILDBOOK_DB_USER}"
      WILDBOOK_DB_PASSWORD: "${WILDBOOK_DB_PASSWORD}"

  wildbook:
    image: tomcat:9.0.85-jre8-temurin-jammy
    depends_on:
      db:
        condition: service_healthy
    labels:
      - autoheal=true
    entrypoint: /docker-entrypoint.sh
    volumes:
      - .dockerfiles/docker-entrypoint.sh:/docker-entrypoint.sh
      - .dockerfiles/tomcat/server.xml:/usr/local/tomcat/conf/server.xml
      - .dockerfiles/tomcat/watermark.png:/usr/local/tomcat/watermark.png
      - .dockerfiles/tomcat/IA-wbia.json:/usr/local/tomcat/webapps/wildbook_data_dir/WEB-INF/classes/bundles/IA.json
      - .dockerfiles/tomcat/IA-wbia.properties:/usr/local/tomcat/webapps/wildbook_data_dir/WEB-INF/classes/bundles/IA.properties
      - .dockerfiles/tomcat/commonConfiguration.properties:/usr/local/tomcat/webapps/wildbook_data_dir/WEB-INF/classes/bundles/commonConfiguration.properties
      - '$WILDBOOK_BASE_DIR/webapps/:/usr/local/tomcat/webapps/'
      - '$WILDBOOK_BASE_DIR/logs/:/usr/local/tomcat/logs/'
      - '/data/upload:/data/upload'
    networks:
      - intranet
    ports:
      - '81:8080'
      - '8001:8000'
    environment:
      DB_USER: '${WILDBOOK_DB_USER}'
      DB_PASSWORD: '${WILDBOOK_DB_PASSWORD}'
      DB_CONNECTION_URL: '${WILDBOOK_DB_CONNECTION_URL}'
      WILDBOOK_APP_URL: '${WILDBOOK_APP_URL}'
      USE_LOCAL_CALLBACK_URL: '${USE_LOCAL_CALLBACK_URL:-false}'
      JAVA_OPTS: '-Djava.awt.headless=true -Xms2048m -Xmx4096m'
      JPDA_ADDRESS: '8000'
      JPDA_TRANSPORT: 'dt_socket'

networks:
  intranet:

volumes:
  db-pgdata-var:
