.pagination .active-page a {
    background-color: #007599 ;
    border-color: #007599 ;
    color: white ;
}

.go-button {
    background-color: #007599;
    border-color: #007599;
    color: white;
}

.pagination {
    margin-bottom: 0;
}

.custom-placeholder::placeholder {
    color: white;
  }