div.container {

}


.bass_image {
    margin-left: auto;
    margin-right: auto;
	max-width: 90%;
	height: auto;
}

.range_map {
	align: left;
}

.bass_caught {
	width: 90%;
	
	align: right;
}

.image_label {
	max-width: 90%;
	font-size: 0.8em;
	color: #888;
	text-align: center;
}