/* Table for debug info */
table.tableSessionInfo { border: 2px solid #C00; }
table.tableSessionInfo th, table.tableSessionInfo td { font-size: 0.70em; vertical-align: top; }
table.tableSessionInfo th { font-weight: bold; }

h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
  font-style: italic;
}
ul#errorList > li {
  color: #C00;
  font-size: 0.8em;
  font-weight: bold;
}
ul#warningList > li {
  color: #00C;
  font-size: 0.8em;
  font-weight: bold;
}
ul#templateList.required {
  font-weight: bold;
}
table#batchTable {
}
table#batchTable > th {
  background: #999;
}
table#batchTable > td {
  background: #CCC;
}
table#batchTable > td.required {
  background: #FCC;
}
ul#rules {
  font-size: 0.9em;
}
span.colHeader {
  white-space: nowrap;
  font-style: italic;
}
.example {
  font-size: 0.9em;
  font-family: monospace;
}
span.dateFormat {
  font-family: monospace;
}
span.dpFormat {
  font-family: monospace;
}
span.dataType {
  font-weight: bold;
}
span.fileName {
  font-style: italic;
}
span.enum {
}
span.buttonDesc {
  font-weight: bold;
}
p.notice {
  text-align: center;
  color: #900;
  font-style: italic;
}
p#progress {
  font-weight: bold;
  color: #333;
}
p#phase {
  font-weight: bold;
  color: #00C;
}
p#ajaxProblem {
  color: #C00;
}
.hidden {
  visibility: hidden;
}
div.debug {
  border: 1px solid #090;
  font-size: 0.75em;
  color: #090;
}
div.debug li span.key {
  font-weight: bold;
}
div.debug ul li span.val {
  font-family: monospace;
}
