form table td, form table th {
  padding-bottom: 1px;
  padding-top: 2px;
}

tr.padding-below td {
  padding-bottom: 20px;
}

tr.header-tr td {
  padding-top: 20px;
}

table.edit-table td:first-child {
  padding-right: 3em;
}
table.occurrence-field-table tr td {
  padding-right: 0px;
  padding-top: 2px !important;
  padding-bottom: 3px !important;
}
table.edit-table td.undo-container {
  display: none;
}
table.edit-table tr.changed-row td.undo-container {
  display: unset;
  padding: 0px;
  margin: 0px;
}
table.edit-table tr.changed-row td.undo-container div {
  color: #000;
  background: inherit;
  border:none;
  margin:0px;
  padding: 6px;
  padding-bottom:6px;
  padding-top:5px;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
}

table.edit-table tr.changed-row td.undo-container div.undo-button:hover {
  cursor: pointer;
  font-weight: bold;
  background: #ddd;
}

table tr.padding-below {
  padding-bottom: 10px;
}


table.edit-table tr.changed-row {
  background: #ebebeb;
  border-radius: 5px;
}
