#mainHeader {
  background-color: #e8e8e8;
}

#headerText {
  -webkit-text-fill-color: #005589;
}

/*Edit forms*/
label {
  font-weight: lighter;
}

input#alternateid.form-control, input#add2OccurrenceInput.form-control, input#createOccurrenceInput.form-control, input#individualAddEncounterInput.form-control, input#createSharkIndividual.form-control, input#verbatimEventDateInput.form-control, input#releasedatepickerField.form-control, input#datepickerField.form-control, input#depth.form-control, input#addLocCodeInput.form-control{
  padding-top: 0px;
  padding-bottom: 0px;
  color:  #333;
  font-size: 1em;
  height: 30px;
}

input#informOthers.form-control, input#photoName.form-control, input#photoPhone.form-control, input#photoEmail.form-control, input#photoAddress.form-control, input#submitName.form-control, input#submitPhone.form-control, input#submitEmail.form-control, input#submitAddress.form-control, input#submitOrg.form-control, input#submitProject.form-control {
  padding-top: 2px;
  padding-bottom: 2px;
  color:  #333;
  font-size: 1em;
  height: 30px;
}

.editForm {
  display: none;
  margin-bottom: 10px;
}

.editText {
  display: none;
}
/*.clickDateText{
  margin-bottom: 0px;
  display: none;
  color: #990000;
  font-size: 14px;
}*/

.form-group {
  margin-bottom: 0px;
}





#matchCheck, #altIdCheck, #matchedByCheck, #individualCheck, #matchedByCheck, #indCreateCheck, #altIdCheck, #createOccurCheck, #addOccurCheck,#submitNameCheck, #submitEmailCheck, #submitPhoneCheck, #submitAddressCheck, #submitOrgCheck, #submitProjectCheck, #photoNameCheck, #photoEmailCheck, #photoPhoneCheck, #photoAddressCheck, #informCheck, #releaseCheck, #verbatimCheck, #resetDateCheck {
  display: none;
  color: green;
  font-family: sans-serif;
}

#matchError, #altIdError, #matchedByError, #individualError, #matchedByError, #indCreateError, #altIdError, #createOccurError, #addOccurError,#submitNameError, #submitEmailError, #submitPhoneError, #submitAddressError, #submitOrgError, #submitProjectError, #photoNameError, #photoEmailError, #photoPhoneError, #photoAddressError, #informError, #releaseError, #verbatimError, #resetDateError {
  display: none;
  color: red;
  font-family: sans-serif;
  font-weight: bold;
}

#matchErrorDiv {
  display: none;
}

#dialogIdentity, #setRemoveResultDiv, #altIdErrorDiv {
  display: none;
}

.highlight {
  color: #990000;
}

.editFormInput {
  margin-right: 5px;
  padding-right: 0px;
}

.editFormBtn {
  width: 70px;
}

#setMB, #individualRemoveEncounterBtn, #setAltIDbtn, #Create, #addOccurrence, #removeOccurrenceBtn, #setVerbatimEventDateBtn, #AddDate, #addResetDate, #AddDepth, #setLocationBtn, #addLocation, #countryFormBtn, #editContact, #editPhotographer, #setOthers {
  margin-bottom: 0px;
  margin-top: 2px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
}

#Add, #createSharkBtn {
  margin-bottom: 0px;
  margin-top: 2px;
  padding-top: 0px;
  padding-bottom: 2px;
}

#edit {
  display: block;
}

#closeEdit, .confirmDelete {
  display: none;
}

#edit, #closeEdit {
  background-color: white;
}

#edit:hover, #closeEdit:hover {
  background-color: #8bff00;
}

.has-feedback .form-control {
  padding-right: 30px;
}


.successHighlight {
  color: green;
}

button.btn.btn-sm.btn-block.yesDelete {
  background-color: #20B845;
  color: #FFFFFF;
}

button.btn.btn-sm.btn-block.yesDelete:hover {
  background-color: #22C449;
  color: #FFFFFF;
}

button.btn.btn-sm.btn-block.cancelDelete {
  background-color: #D9231A;
  color: #FFFFFF;
}

button.btn.btn-sm.btn-block.cancelDelete:hover {
  background-color: #EE261D;
  color: #FFFFFF;
}

button.btn.btn-sm.btn-block.deleteRelationshipBtn {
  background-color: #D9231A;
  color: #FFFFFF;
}
button.btn.btn-sm.btn-block.deleteRelationshipBtn:hover {
  background-color: #EE261D;
  color: #FFFFFF;
}

.setRelationshipResultDiv {
  padding-bottom: 20px;
}
