#familyDiagram {
  text-align: center;
}

#familyDiagram svg {
  margin-top: 32px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.individual rect {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}
.individual {
  font: 14px sans-serif;
  cursor: pointer;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
