
.footer-font {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.footer-link {
  color: inherit;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: none; 
}
.footer-container {
  background-color: #303336;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 10px;
  margin: 0;
  width: 100vw;
}
.footer-col {
  display: flex;
  flex-direction: column;
  padding: 0; 
  justify-content: start;
  align-items: start;
}
.footer-text {
  color: white !important; 
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;

}

.footer-powered-by{
  display: flex;
  justify-content: center;
  color: white;
  gap: 5px;
  margin-top: 50px;
}
.footer-row {
  height: 150px;
  display: flex;
  justify-content: space-between;
  gap: 15px; 
}

@media (max-width: 768px) {
  .footer-col {
    justify-content: center;
    align-items: center;
  }
}