
.image-enhancer-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.image-enhancer-debug {
    outline: dashed 3px rgba(255,255,0,0.5);
}


.image-enhancer-menu {
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 5%;
    height: 0;
    padding-bottom: 5%;
    /*min-width: 20px;
    max-width: 40px;*/
    background: url(../images/hamburger-menu.svg) no-repeat;
    background-size: 100% auto;
    opacity: 0.4;
    cursor: pointer;
}

.image-enhancer-wrapper:hover .image-enhancer-menu {
    opacity: 1.0;
}

.image-enhancer-menu-open {
    z-index: 1;
    position: absolute;
    top: 95%;
    right: 10px;
    min-width: 4em;
    border: solid black 2px;
    border-radius: 2px;
    background-color: white;
}

.image-enhancer-menu-open .menu-item {
    font-size: 0.8em;
    padding: 2px 8px;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
}
.image-enhancer-menu-open .menu-item:hover {
    background-color: #444;
    color: #EEE;
}


.image-enhancer-popup {
    position: fixed;
    width: 70%;
    margin-left: 15%;
    min-height: 20%;
    top: 70px;
    z-index: 2000;
    border: solid 4px #448;
    padding: 15px;
    border-radius: 5px;
    background-color: #DEDEDE;
}
.image-enhancer-popup .popup-close {
    background-color: #999;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}


.image-enhancer-keyword-wrapper {
    position: absolute;
    left: 0.5em;
    width: 8em;
    top: 0.3em;
}

.image-enhancer-keyword, .iek-new-wrapper {
    border: solid 1px rgba(255,255,255,0.0);
    border-radius: 3px;
    padding: 1px 5px;
    margin: 3px 0;
    background-color: rgba(255,255,255,0.6);
    font-size: 0.8em;
    position: relative;
    /*height: 2.0em;*/
	width: 150px;
}
.image-enhancer-keyword-wrapper:hover .image-enhancer-keyword {
    background-color: #FFF;
    border: solid 1px #333;
}
.iek-new-wrapper {
  text-align: center;
}

.image-enhancer-keyword-wrapper:hover .iek-new-wrapper {
    background-color: #FFF;
    border: solid 1px #333;
    height: auto !important;
    padding-bottom: 7px;
}

.image-enhancer-keyword-wrapper:hover .iek-new-form input {
  margin-top: 5px;
  width: 100%;
}

.iek-remove {
    color: #FFF;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 1px;
    background-color: red;
    width: 1.4em;
    height: 1.4em;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    display: none;
}
.image-enhancer-keyword:hover .iek-remove {
    display: inline-block;
}



.iek-new-form, .iek-new-wrapper.iek-autohide {
    display: none;
}

.image-enhancer-keyword-wrapper:hover .iek-new-form, .image-enhancer-keyword-wrapper:hover .iek-new-wrapper.iek-autohide {
    display: block;
}

.image-enhancer-menu:hover {
  cursor: pointer;
}

.image-enhancer-overlay-message {
    margin: 20px;
    border: solid 3px #333;
    border-radius: 8px;
    padding: 4px;
    background-color: rgba(255,255,255,0.8);
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}
