.mainColumn {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.mainHeader {
  background-color: #e8eff1;
}

.slider {
  padding-right: 0 !important;
  padding-left: 0 !important;
  display: none;
}

.sliderimg {
  max-height: 400px;
  margin: 0 !important;
}

.crop-outer {
  cursor: pointer;
  width: auto;
  overflow: hidden;
}
.crop-outer .crop {
  text-align: center;
  overflow: hidden;
}

#markedIndividualHeader {
  -webkit-text-fill-color: #005589;
}

/*Edit forms*/
label {
  font-weight: lighter;
}

input#nickname.form-control, input#namer.form-control, input#timeOfBirth.form-control, input#timeOfDeath.form-control, input#alternateid.form-control{
  padding-top: 0px;
  padding-bottom: 0px;
  color:  #333;
  font-size: 1em;
  height: 30px;
}

.editForm {
  display: none;
  margin-bottom: 10px;
}

.clickDateText{
  margin-bottom: 0px;
  display: none;
  color: #990000;
  font-size: 14px;
}

.form-group {
  margin-bottom: 0px;
}

#nameCheck, #namerCheck, #sexCheck, #birthCheck, #deathCheck, #altIdCheck, #matchCheck {
  display: none;
  color: green;
  font-family: sans-serif;
}

#nameError, #namerError, #sexError, #birthError, #deathError, #altIdError, #matchError {
  display: none;
  color: red;
  font-family: sans-serif;
  font-weight: bold;
}

#nicknameErrorDiv, #sexErrorDiv, #birthErrorDiv, #deathErrorDiv, #altIdErrorDiv, #matchErrorDiv {
  display: none;
}

.relationshipInput {
  height: 30px;
}

.requiredLabel {
  margin-bottom: 0px;
}

.highlight {
  color: #990000;
}

input.form-control.relationshipInput, select.form-control.relationshipInput {
  margin-bottom: 10px;
}

.editFormInput {
  margin-right: 5px;
  padding-right: 0px;
}

.editFormBtn {
  width: 70px;
}

#addRelationshipForm {
  background-color: #e8eff1;
  padding: 10px;
  margin-bottom: 20px;
  display: none;
}

#Name, #Add, #birthy, #deathy, #AltID, #setMB {
  margin-bottom: 0px;
  margin-top: 2px;
  margin-left: 15px;
  padding-top: 0px;
  padding-bottom: 2px;
}

#addRelationshipBtn {
  margin-bottom: 20px;
}

#edit {
  display: block;
}

#closeEdit, .confirmDelete {
  display: none;
}

#edit, #closeEdit {
  background-color: white;
}

#edit:hover, #closeEdit:hover {
  background-color: #8bff00;
}

.has-feedback .form-control {
  padding-right: 30px;
}

#individual1set, #individual2set {
  display: none;
}

.successHighlight {
  color: green;
}

button.btn.btn-sm.btn-block.yesDelete {
  background-color: #20B845;
  color: #FFFFFF;
}

button.btn.btn-sm.btn-block.yesDelete:hover {
  background-color: #22C449;
  color: #FFFFFF;
}

button.btn.btn-sm.btn-block.cancelDelete {
  background-color: #D9231A;
  color: #FFFFFF;
}

button.btn.btn-sm.btn-block.cancelDelete:hover {
  background-color: #EE261D;
  color: #FFFFFF;
}

button.btn.btn-sm.btn-block.deleteRelationshipBtn {
  background-color: #D9231A;
  color: #FFFFFF;
}
button.btn.btn-sm.btn-block.deleteRelationshipBtn:hover {
  background-color: #EE261D;
  color: #FFFFFF;
}

input.btn.btn-md#closeRelationshipForm {
  background-color: #D9231A;
  color: #FFFFFF;
}

input.btn.btn-md#closeRelationshipForm:hover {
  background-color: #EE261D;
  color: #FFFFFF;
}

.setRelationshipResultDiv {
  padding-bottom: 20px;
}

/*Hide Diagram Tab Content*/
#communityTable, #cooccurrenceTable, #bioSamplesTable {
  display: none;
}

/*Nav-tab styling*/
li.active{
  background-color: #FFFFFF;
}

.nav-tabs>li>a {
  background-color: #7997a1;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.nav-tabs>li>a:hover {
  background-color: #8aacb8;
}

/*Social Relationships Table Styles*/
#relationshipTable th {
  background-image: none;
}

/* Family Tree Styles */

#familyDiagram {
  text-align: center;
}

#familyDiagram svg {
  border: 1px solid #aaa;
}
.individual rect {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}
.individual {
  font: 14px sans-serif;
  cursor: pointer;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*Bubble Diagram Styles*/

.co-occurrences {
  width: 850px;
  height: 400px;
  border-radius: 5px;
}

.bubbleChart {
  width: auto;
  height: 350px;
}

.bubbleChart svg{
  background: #373F51;
  width: 100%;
}

.btn-group {
  position: absolute;
}

.mygrid-wrapper-div {
  overflow: scroll;
  max-height: 350px;
}

#zoomIn, #zoomOut, #reset, #resetButton {
  background: #FFFFFF;
  color: navy;
}

button#zoomIn.btn.btn-default{
  padding-top: 6px;
  padding-bottom: 10px;
}

button#zoomOut.btn.btn-default{
  padding-top: 8px;
  padding-bottom: 8px;
}

/*button {
  margin-right: 0px;
  margin-top: 0px;
}*/

.node circle {
  stroke: none;
}


/*Co-occurrence Table Style*/

th {
  background-color: #566c73;
  font-weight: lighter;
  color: white;
  border: 1px solid white;
  text-align: center;
  width: 400px;
  padding: 10px;
}

#encountTable th, #coTable th {
  background-image: url("/images/upDownArrows.png");
  background-repeat: no-repeat;
  background-position: right;
}

#encountTable th:hover, #coTable th:hover {
  cursor: pointer;
}

.encounterImg, .encounterSample {
  max-width: 30px;
  width: auto;
  max-height: 30px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #7997a1;
  color: #FFFFFF;
  cursor: pointer;
}

.hide {
  display: none;
}

td {
  font-family: sans-serif;
  font-size: 14px;
  vertical-align: middle;
}

/*Collaborating Researcher Styles*/

.researcherName {
  font-weight: bold;
}

.researcherPhoto {
  max-width: 100%;
  max-height: 200px;
  height: auto;
}

.researcherPhotoContainer {
  width: 30rem;
  padding: 2%;
  word-wrap: break-word;
}

.thumbnail {
  box-shadow: none;
}

#researchers {
  display: flex;
  flex-wrap: wrap;
}
