

.btn-file-selector {
    font-size: 2em;
    padding: 15px;
    /*
    margin-left: 33%;
    margin-top: 45px;
    margin-bottom: 45px;
    */
}

/*
.center-vertical {
    margin-left: 0.5em;
    margin-right: 0.5em;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
*/

.center-horiz {
    display: inline-block;
    margin: auto;
}

.chosen-enc-label {
    position: absolute;
    top: 1px;
    left: -2px;
    font-weight: bold;
    color: black;
}


.hidden-input {
    display: none;
}

.recaptcha-div {
    margin-left: 40%;
}

.image-tile-div, .image-preview-div {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden; 
    padding-left: 10px;
    padding-right: 10px;
    /* 
    background-image: url("/images/loading.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
    clear: both;
    */
}

@media (min-width: 576px) {
    .image-tile-div {min-height: 11em;}
} 

@media (min-width: 768px)  {
    .image-tile-div {min-height: 15em;}
} 

@media (min-width: 992px) {
    .image-tile-div {min-height: 19em;}
} 

@media (min-width: 1200px) {
    .image-tile-div {min-height: 23em;}
}

.image-filename {
    color: white;
    font-weight: bold;
}

.image-preview-div {
    height: 30vh;
}

.image-element {
    position: absolute;
    max-width: 99%;
    max-block-size: 100%;
    object-fit: contain;
    /*
    margin: 0;
    height: auto;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.image-preview {
    position: absolute;
    max-width: 100%;
    /*max-height: 30vh;*/
    max-block-size: 100%;
    object-fit: contain;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.img-input {
    position: absolute;
    margin-left: 3%;
    margin-top: 25%;
    margin-right: 6%;
    width: 91%;
    background-color: rgba(0,0,0,0.55);
}

.img-input-label {
    font-size: 0.9em;
    padding-left: 3%;
    color: white;
    opacity: 1.0;
}

.enc-input-label {
    font-size: 0.9em;
    padding-left: 3%;
    color: black;
    opacity: 1.0;
}

.filename-scroll-list {
    overflow-y: scroll;
    height: 30vh;
}

/*
div .img-input {
    opacity: 0.65;
}
*/

.image-filename:hover {
    display: inline;
}

#root-div {
    padding: 25px;
}

.img-selected {
    max-width: 99%;
    border-style: solid;
    border-width: 0.2em; 
    border-color: darkblue;
}

.encounter-tile-div {
    background-color: rgba(179,219,244,1);
    /*
    background-image: url("/images/loading.png");
    */
    margin: 5px;
    padding-left: 1%;

    padding-top: 10px;
    padding-bottom: 10px;
}

.encounter-label {
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 0.7em;
    color: black;
    /*
    text-decoration: underline;
    */
    font-weight: bolder !important;
    background-color: rgba(0,0,0,0.30)
}

.image-label {
    background-color: slategray;
    color: white;
    font-size: 0.8em;
}

.image-overlay {
    position: absolute;
    color: transparent;
    background-color: transparent;
}

.image-overlay:hover {
    color: white;
    background-color: rgba(0,0,0,0.65);

}

.edit-closed {
    display: none;
}


.enc-top-input {
    margin-bottom: 2em;    
}

/*
.comment-box {
    margin-left: 3%;
    margin-right: 3%;
}
*/

.missing-fields-confirmed {
    background-color: #FF6600 !important;
}

.missing-info {
    color: darkred;
}

.show-metadata-btn {
    margin: 0 !important;
}

.tile-selected {
    background-color: #E3E3E3;
    /*
    border-style: solid;
    border-width: 0.8em;
    border-color: FFF;
    */
}

.results-waiting {
    font-weight: bolder;
    background-color: lightblue;
    color: darkblue;
    padding: 1em;
}

.summary-label {
    white-space: nowrap;
}