.btn-file-selector {
    font-size: 2em;
    padding: 15px;
    margin-left: 33%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.hidden-input {
    display: none;
}

.recaptcha-div {
    margin-left: 40%;
}

.image-tile-div {
    height: 12em;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.image-filename {
    color: white;
    font-weight: bold;
}

.image-element {
    position: absolute;
}

.img-input {
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 6%;
    width: 91%;
    background-color: rgba(0,0,0,0.55);
}

.img-input-label {
    font-size: 0.9em;
    padding-left: 3%;
    color: white;
    opacity: 1.0;
}

/*
div .img-input {
    opacity: 0.65;
}
*/

.image-filename:hover {
    display: inline;
}

#root-div {
    padding: 25px;
}

.img-selected {
    border-style: solid;
    border-width: 0.2em;
    border-color: blue;
}

.encounter-tile-div {
    background-color: darkslategrey;
    margin: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.encounter-label {
    color: white;
    font-weight: bolder;
}

.image-label {
    background-color: slategray;
    color: white;
    font-size: 0.8em;
}

.image-overlay {
    position: absolute;
    color: transparent;
    background-color: transparent;
}

.image-overlay:hover {
    color: white;
    background-color: rgba(0,0,0,0.65);
}

.edit-closed {
    display: none;
}


.enc-top-input {
    margin-bottom: 2em;    
}

/*
.comment-box {
    margin-left: 3%;
    margin-right: 3%;
}
*/