.btn-file-selector {
    font-size: 2em;
    padding: 15px;
    margin-left: 33%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.hidden-input {
    display: none;
}

.recaptcha-div {
    margin-left: 40%;
}

.image-tile-div {
    height: 18em;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.image-filename {
    /*display: none;*/
    color: white;
    background-color: black;
    font-weight: bold;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px, 50px;
}

.image-element {
    position: absolute;
}

.img-input {
    position: absolute;
}

.image-filename:hover {
    display: inline;
}

#root-div {
    padding: 25px;
}

.encounter-tile-div {
    color: white;
    background-color: darkslategrey;
    margin: 5px;
    padding-bottom: 10px;
}

/*
We do want to make the editable overlay only visible on hover for visibility.
*/

.image-overlay {
    position: absolute;
    color: transparent;
    background-color: transparent;
}

.image-overlay:hover {
    color: white;
    background-color: black;
}