

.org-ecocean-notefield {
    margin: 0;
    padding: 0;
    min-height: 10px;  /* so we have something even when empty, for hover */
}

.org-ecocean-notefield-outlined {
    outline: dotted 2px rgba(0,0,0,0.4);
}
.org-ecocean-notefield-wrapper {
    position: relative;
}

.org-ecocean-notefield-control {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
    color: #555;
}
.org-ecocean-notefield-wrapper:hover .org-ecocean-notefield-control {
    display: inline-block;
}
.org-ecocean-notefield-control:hover {
    color: #AF0;
}

.org-ecocean-notefield-default {
    display: none;
}

.org-ecocean-notefield-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wb-ql-menu {
    color: black;
}
