.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.clip-image-wrapper {
  /* 定义一个容器来限制图片区域的宽度和高度 */
  width: 100%;
  max-width: 969px; /* 或图片的实际宽度 */
  height: 350px; /* 或图片的实际高度 */
  overflow: hidden; /* 隐藏超出容器的图片部分 */
  position: relative; /* 为绝对定位的子元素创建上下文 */
}

.clip-image {
  /* 使用clip-path定义吉他拨片形状 */
  clip-path: polygon(
    15% 7%,    /* 左上角开始向右下方画线 */
    85% 7%,    /* 上边向右画线 */
    100% 45%,  /* 右上角向下方画线 */
    85% 85%,   /* 右边向左下方画线 */
    50% 100%,  /* 底部中间点 */
    15% 85%,   /* 左边向上方画线 */
    0 45%      /* 左上角结束点 */
  );
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}


/* 样式化其他内容如标题、段落或按钮 */
.clip-image h1 {
  color: #fff; /* 标题颜色 */
  /* 其他标题样式 */
}

.clip-image p {
  color: #ddd; /* 段落颜色 */
  /* 其他段落样式 */
}

.clip-image button {
  /* 按钮样式 */
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 居中显示卡片，这里假设全屏高度 */
}

.card {
  position: relative;
  width: 200px; /* 卡片宽度 */
  height: 200px; /* 卡片高度 */
  background: white;
  border: 2px solid blue; /* 边框颜色 */
  transform: rotate(45deg); /* 旋转45度 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card-content {
  transform: rotate(-45deg); /* 内容逆向旋转以抵消卡片的旋转 */
  text-align: center;
}

.card-icon {
  /* 图标样式 */
  margin-bottom: 10px;
}

.card-decoration-point {
  position: absolute;
  width: 10px; /* 装饰点大小 */
  height: 10px; /* 装饰点大小 */
  background-color: blue; /* 装饰点颜色 */
  border-radius: 50%; /* 圆形装饰点 */
}

.top-left {
  top: -5px; /* 调整位置，贴近边框 */
  left: -5px; /* 调整位置，贴近边框 */
}

.bottom-right {
  bottom: -5px; /* 调整位置，贴近边框 */
  right: -5px; /* 调整位置，贴近边框 */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


