name: Development Build

on:
  push:
      branches:
          - main
      tags-ignore:
          - v*
jobs:
  build:
    name: Maven build and deploy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    
    - name: Set up JDK 8*
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Build with Maven
      run: |
        mvn dependency:resolve -B -U
        mvn clean install -DskipTests -Dmaven.javadoc.skip=true -B
        mvn -B package --file pom.xml
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: wildmeorg
        password: ${{ secrets.WBIA_WILDMEBOT_DOCKER_HUB_TOKEN  }}

    - name: Build Docker image
      run: |
        docker build -t wildme/wildbook:main  -f devops/development/Dockerfile devops/development/

    - name: Push Docker image
      run: |
        docker push wildme/wildbook:main  

      
