name: Production Build

on:
  release:
    types: [published]

jobs:
  build:
    name: Maven build , deploy and release
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    steps:
    - uses: actions/checkout@v5
    
    - name: Set up JDK 8*
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Release
      uses: qcastel/github-actions-maven-release@v1.12.44
      env:
        JAVA_HOME: /usr/lib/jvm/zulu-8/
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        maven-args: "-Dmaven.javadoc.skip=true -DskipTests -DskipITs -Ddockerfile.skip -DdockerCompose.skip"
        release-branch-name: "main"

    - name: Build with Maven
      run: |
        mvn dependency:resolve -B -U
        mvn clean install -DskipTests -Dmaven.javadoc.skip=true -B
        mvn -B package --file pom.xml
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: wildmeorg
        password: ${{ secrets.WBIA_WILDMEBOT_DOCKER_HUB_TOKEN  }}

    - name: Build Docker image
      run: |
        docker build -t wildme/wildbook:${{ github.event.release.tag_name }}  -f devops/deploy/Dockerfile devops/deploy/

    - name: Push Docker image
      run: |
        docker push wildme/wildbook:${{ github.event.release.tag_name }}  

      
